@charset "UTF-8";
/* © Copyright 2021 Oyewole Oyedeji */
/** =========== MAIN SITE STYLING =========== **/
body {
  font-family: "Josefin Sans", sans-serif !important;
  background: white;
  background: linear-gradient(135deg, white 0%, skyblue 100%);
  background-attachment: fixed;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none !important;
}

/** =========== UTILITIES =========== **/
/**== Center all elements with this class ==**/
.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/**== Add extra text to the left-right of the element ==**/
.caption:before {
  content: "┗|｀O′|┛";
  margin-right: 1rem;
}

.caption:after {
  content: "...";
  margin-left: 1rem;
}

/**== Generic class for the site buttons ==**/
.site-buttons {
  border: 1.5px solid #f03a17;
  color: #fff;
  background: #f03a17;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  outline: none;
}

.site-buttons:hover {
  background: #f5775f;
  border: 1.5px solid #f5775f;
}

.site-buttons:focus {
  background: #f5775f;
  border: 1.5px solid #f5775f;
}

/**== Change the background color of highlighted elements ==**/
::-moz-selection {
  background: rgba(166, 166, 166, 0.7);
}
::selection {
  background: rgba(166, 166, 166, 0.7);
}

/** =========== SECTIONS =========== **/
/**---- The credits menu for the 2 viewports ----**/
#credits-menu-desktop {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: #f03a17;
  background: rgba(240, 58, 23, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#credits-menu-desktop .close-button {
  position: absolute;
  top: 20px;
  right: 45px;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 4rem;
}

#credits-menu-desktop .centre h3 span::after {
  content: "-";
  margin-left: 1rem;
}

#credits-menu-desktop ::-moz-selection {
  background: rgba(64, 64, 64, 0.6);
}

#credits-menu-desktop ::selection {
  background: rgba(64, 64, 64, 0.6);
}

#credits-menu-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: #f03a17;
  background: rgba(240, 58, 23, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#credits-menu-mobile .close-button {
  position: absolute;
  top: 20px;
  right: 45px;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 4rem;
}

#credits-menu-mobile .centre h3 span::after {
  content: "-";
  margin-left: 1rem;
}

#credits-menu-mobile ::-moz-selection {
  background: rgba(64, 64, 64, 0.6);
}

#credits-menu-mobile ::selection {
  background: rgba(64, 64, 64, 0.6);
}

/**---- The main navigation menu ----**/
#invisible-navigation-menu.modal .modal-dialog .modal-content {
  background: #f03a17;
  border: #f03a17;
  color: white;
}

#invisible-navigation-menu.modal .modal-dialog .modal-content .modal-body div.menu-group {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#invisible-navigation-menu.modal .modal-dialog .modal-content .modal-body div.menu-group button {
  border: 1.5px solid #f03a17;
  color: #fff;
  background: #f03a17;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  outline: none;
}

#invisible-navigation-menu.modal .modal-dialog .modal-content .modal-body div.menu-group button:hover {
  background: #f5775f;
  border: 1.5px solid #f5775f;
}

#invisible-navigation-menu.modal .modal-dialog .modal-content .modal-body div.menu-group button:focus {
  background: #f5775f;
  border: 1.5px solid #f5775f;
}

#invisible-navigation-menu.modal .modal-dialog .modal-content .modal-body div.menu-group button:hover {
  background: none;
}

#invisible-navigation-menu.modal .modal-dialog .modal-content .modal-body div.menu-group a i.menu-icons {
  font-size: 1.5rem;
}

#invisible-navigation-menu.modal .modal-dialog .modal-content .modal-body div.menu-group:hover {
  background: #c72b0d;
  cursor: pointer;
}

/**---- The visible navigation menu ----**/
#visible-navigation-menu .searchbox {
  border-bottom: 2px solid #f03a17;
  z-index: 1;
}

#visible-navigation-menu .searchbox i {
  font-size: 24px;
  color: #f03a17;
}

#visible-navigation-menu .searchbox input {
  background: none;
  border: none;
  width: 80%;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

#visible-navigation-menu .searchbox input::-webkit-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

#visible-navigation-menu .searchbox input:-ms-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

#visible-navigation-menu .searchbox input::-ms-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

#visible-navigation-menu .searchbox input::placeholder {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

#visible-navigation-menu #toggle-navigation-menu-mobile {
  background: none;
  border: none;
  outline: none;
}

#visible-navigation-menu #toggle-navigation-menu-mobile i {
  font-size: 3rem;
  color: #f03a17;
}

#visible-navigation-menu #toggle-navigation-menu-desktop {
  background: none;
  border: none;
  outline: none;
}

#visible-navigation-menu #toggle-navigation-menu-desktop i {
  font-size: 3rem;
  color: #f03a17;
}

/**---- Main content ----**/
#glassmorphism-card {
  background: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 15px !important;
  -webkit-backdrop-filter: blur(5px) !important;
          backdrop-filter: blur(5px) !important;
  margin-top: 100px;
  z-index: 2;
}

#glassmorphism-card .card-body ul li button {
  font-size: 1.2rem;
}

#glassmorphism-card .card-body ul li button.nav-link {
  color: #f03a17;
}

#glassmorphism-card .card-body ul li button.nav-link.active {
  background: #f03a17;
  color: white;
}

#glassmorphism-card .card-body ul li button.nav-link.active:hover {
  background: #f5775f;
  color: white;
}
